* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 46.4px;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav, .subnav {
    list-style-type: none;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav li a{  
    text-decoration: none;
    line-height: 46.4px;
    padding: 0px 24px;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover{
    background-color: #ccc;
    color: black;
}
#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav a{
    color: black ;
    line-height: 38px;
    padding: 0 12px;
}
#header .search-btn{
    float: right;
}
#header .search-icon{
    color: white;
    line-height: 46.4px;
    padding:0px 23px;
}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}
#slider{
    margin-top: 46.4px;
}
#content{
   
}
#footer{

}